.breadcrumb-container {
  width: 100%;
  height: fit-content;
  position: absolute;
  top: 14vh;
  left: 16%;
  font-size: 0.7rem;
  color: #696969;
  font-weight: 400;
  font-style: italic;
  text-align: left;
  position: fixed;

  a {
    text-decoration: none;
    color: #696969;
    font-weight: 700;
  }
}