.sidebar {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  width: 15%;
  height: 50vh;
  margin-left: 15%;
  margin-top: 10%;
  padding: 10px;
  position: fixed;
  
  .sidebar-container {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    border-radius: 5px;

    .sidebar-option {
      width: 100%;
      height: fit-content;
      padding: 1vh 0 1vh 5%;
      line-height: 50px;
      font-size: 0.85rem;
      font-weight: 600;
      color:  white;
      background-color:  #4CAF50;
      text-decoration: none;
      text-align: center;
      border: none;
      border-radius: 4px;
      cursor: pointer;
      
      &:hover {
        background-color:  #235224;
        font-weight: 700;
      }
    }

    .sidebar-menu {
      width: 100%;
      height: fit-content;
      line-height: 50px;
      font-size: 1rem;
      font-weight: 700;
      color: #696969;
      text-decoration: none;
      text-align: center;
      border: none;
      cursor: pointer;
    }
  }
}