.display-all-operations {
  width: 110%;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0px auto 10% -5%;

  .display-all-operations-general-info {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
    height: 15vh;

    ul li {
      list-style-type: none;
      padding: 1vh;
    }
  }

  .display-all-operations-header{
    width: 100%;
    padding: 15px 0;
    display: flex;
    justify-content: space-between;
    border-bottom: 1px solid darkgrey;

    .header-block {
      width: 17%;
      font-size: 0.75rem;
      list-style-type: none;
    }
  }
}